html {
  height: 100vh;
}

* {
  font-family: "Figtree", sans-serif;
}

:root {
  --gray-text: #bec4cf;
  --main-green: #06866e;
  --gray-border: #d9d9d9;
  --ws-gray-text: #d5d8df;
}

body {
  margin: 0;
  font-size: 16px;
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  margin-top: 0;
}

#root > div {
  height: 100%;
}

input {
  height: 40px;
  border-radius: 12px;
  border: 1px solid var(--gray-border);
  width: 45%;
  margin: 0.5rem 0;
}

/*-----------------GENERAL--------------------*/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.open {
  width: 19rem;
  padding: 6rem 1rem 2rem 2rem;
}

.closed {
  width: 3rem;
  padding: 6rem 0.5rem 0.5rem;
}

.open-menu {
  left: 19rem;
  width: calc(100vw - 19rem);
}

.close-menu {
  left: 2.8rem;
  width: calc(100vw - 3rem);
}

.material-symbols-outlined {
  font-weight: 300;
  font-size: 22px;
}

.move-back {
  z-index: -2;
  position: fixed;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  margin-right: 1rem;
}

.space-left {
  margin-left: 1rem;
}

.align {
  align-items: center;
}




/*---------------BUTTON----------------------*/
.signup-button {
  width: 45%;
  height: 2.4rem;
  border: none;
  background-color: var(--main-green);
  color: white;
  border-radius: 12px;
  margin-top: 1rem;
}

.add-button-icon {
  background-color: var(--main-green);
  height: 32px;
  width: 32px;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--ws-gray-text);
  border-radius: 8px;
  display: flex;
}

/*-----------------FONTS ---------------------*/
.roboto-light {
  font-weight: 300;
}

.roboto-regular {
  font-weight: 400;
}

.roboto-medium {
  font-weight: 500;
}

.roboto-bold {
  font-weight: 700;
}

/*----------ANIMATIONS-------------*/

.transition {
  transition-duration: 1000ms;
  transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
}
